<div class="wrapper">
  <div class="background">
  </div>
  <p class="emm" class="italics top">
   <a class="em" href="https://github.com/mrmango1" target="_blank">mi repositorio</a> 
    </p>
  <div id="tree-container"></div>

  <div class="instructions">
    <p class="bottom-right">
      [ click en el nodo para expandir/contraer ] </p>
    <p class="bottom-center">
      [ scroll/doble click para hacer zoom ]
    </p>
    <p class="bottom-left">
      [ click y arrastre para desplazarse ] </p>
  </div>

</div>