<div class="row wrapper">
  <div class="background"></div>
  <div class="pulsate">
    <div #elem class="parallax"></div>
  </div>
  <!-- <div class="shadow"></div> -->
  <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left"></div>
  <div class="column-one">
    <p class="pre-name"><span role="img" aria-label="wave">👋</span>
      Hola! Mi nombre es</p>
    <div class="name">
      <p class="p-name">Anderson Grefa<span class="p-name2">.</span></p>
    </div>
    <div class="name">
      <p class="p-first">Soy un desarrollador autodidacta apasionado.
        Cuido mucho la experiencia del usuario, la arquitectura y la calidad del código de las cosas que construyo.</p>
      <p class="p-second">Actualmente estoy trabajando como freelance. Puedes encontrar mi currículum<a href="/resume"> aquí.</a></p>
      <p class="p-third">Dale un vistazo a mi <a href="https://github.com/mrmango1" target="_blank" rel="author">repositorio</a> de Github, y a mi otra <a href="https://www.andersongrefa.me/" target="_blank">página web</a> hecha en Nextjs</p>
      <p class="p-fourth">Si tienes un proyecto en mente, <a routerLink="contact">contáctame.</a></p>
    </div>
  </div>
  <div class="column-two">
        <!-- <div #elem class="parallax"></div> -->
  </div>
</div>